<!-- main page layout -->
<script>
    import "../../app.css";
    import GlobalHeader from "$lib/components/GlobalHeader.svelte";
    import GlobalFooter from "$lib/components/GlobalFooter.svelte";

    export let data;

    let activeGame = data;

</script>

<GlobalHeader bind:activeGame={activeGame} />

<main class="mb-auto pb-10">
    <slot/>
</main>

<GlobalFooter/>
