<script>
    /*
    This is the list of all games
     */
    import downChevron from '$lib/assets/down-chevron.svg';
    import rightChevron from '$lib/assets/right-chevron.svg';
    import {Radio} from 'flowbite-svelte';
    import Time from "svelte-time";
    import {onMount} from "svelte";
    import {getGameItemsBlocking} from "$lib/games/index.js";
    import {Drawer, Button, CloseButton} from 'flowbite-svelte';
    import {InfoCircleSolid} from 'flowbite-svelte-icons';
    import {sineIn} from 'svelte/easing';
    import {getCurrencyByLocale, getCurrencyString} from "$lib/constants.js";

    export let data;

    let hiddenDrawerFlag = true;
    let transitionParamsRight = {
        x: 320,
        duration: 200,
        easing: sineIn
    };

    let gameList = data.games;

    $: activeGame = "";
    $: gameObjectDetailsHTML = '<div></div>';

    function setActiveRadio() {
        gameList.forEach((game) => {
            if (game.active) {
                activeGame = game.id;
            }
        });
    }

    onMount(() => {
        setActiveRadio();
    });

    function toggleNewGame() {
        const newGameDiv = document.getElementById("newGame");

        const newGameIcon = document.getElementById("new-game-icon");
        const current = newGameDiv.style.display;
        if (current === 'none') {
            newGameDiv.style.display = 'block';
            newGameIcon.src = downChevron;
        } else {
            newGameDiv.style.display = 'none';
            newGameIcon.src = rightChevron;
        }
    }

    async function openDrawer(gameId, locale) {
        hiddenDrawerFlag = false;
        let currency = getCurrencyByLocale(locale);
        gameObjectDetailsHTML = "<div>Loading...</div>";

        let gameItemContent = "";
        let response = await getGameItemsBlocking(gameId);
        response.forEach((obj, label) => {
            let lower = getCurrencyString(obj.lower, locale);
            let upper = getCurrencyString(obj.upper, locale);

            gameItemContent += `<li class="gameItemList"><span class="gameItemName">${obj.name}</span><br/>&nbsp;&nbsp;<span class="gameItemLabel">[${label}]</span> :: (<strong>${lower}</strong> - <strong>${upper}</strong>)</li>`;
        });

        gameObjectDetailsHTML = "<div><ul>" + gameItemContent + "</ul></div>";
    }

</script>

<Drawer placement="right" transitionType="fly" transitionParams={transitionParamsRight} bind:hidden={hiddenDrawerFlag}
        id="sidebar6">
    <div class="flex items-center">
        <h5 id="drawer-label"
            class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
            <InfoCircleSolid class="w-5 h-5 me-2.5"/>
            Info
        </h5>
        <CloseButton on:click={() => (hiddenDrawerFlag = true)} class="mb-4 dark:text-white"/>
    </div>
    <p id="gameItems" class="mb-6 text-sm text-gray-500 dark:text-gray-400">
        {@html gameObjectDetailsHTML}
    </p>
</Drawer>

<div class="container px-6 max-w-7xl mx-auto">
    <div class="main-post-game-info w-full pt-4 py-1 border-b border-primary/50">
        <div class="md:grid grid-cols-2 items-center justify-between">
            <div>
                <p class="md:text-xl font-semibold">Google Distributed Cloud</p>
                <h1 class="text-3xl md:text-4xl font-semibold">Games Menu</h1>
            </div>
        </div>
    </div>

    <div class="w-full">
        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">
                <div class="inline-block min-w-full h-96 rounded-md shadow-lg border border-primary/50 overflow-y-auto w-full align-middle ">
                    <form method="POST">
                        <table class="min-w-full divide-y  divide-gray-300">
                            <thead class="bg-[#e4edea] z-10">
                            <tr>
                                <th scope="col"
                                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">
                                    Name
                                </th>
                                <th scope="col"
                                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">
                                    Created
                                </th>
                                <th scope="col"
                                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">
                                    Locale
                                </th>
                                <th scope="col"
                                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">
                                    Data Set
                                </th>
                                <th scope="col"
                                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">
                                    Active Game
                                </th>
                                <th scope="col"
                                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">
                                    Game Item Details
                                </th>
                            </tr>
                            </thead>
                            <tbody class="bg-white">
                            {#each gameList as game}
                                <tr class="even:bg-[#f3f7f3]">
                                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3">
                                        {game.name}
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 font-medium">
                                        <Time timestamp={game.created_at}/>
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 font-medium">
                                        {game.locale}
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 font-medium">
                                        {game.model_id}
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 font-medium">
                                        <Radio name="activeGame" value="{game.id}" bind:group={activeGame}
                                               id="{game.id}"/>
                                    </td>
                                    <td>
                                        <Button on:click={() => openDrawer(game.model_id, game.locale)}>Show Details</Button>
                                    </td>
                                </tr>
                            {/each}
                            </tbody>
                        </table>
                        <div class="inline-block min-w-full h-36 rounded-md shadow-lg border border-primary/50 overflow-y-auto w-full p-10 align-middle">
                            <div class="flex items-end justify-end">
                                <button type="submit"
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-md">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="text-start flex items-start mt-4 border-b border-primary/50 py-5 pb-0">
        <button on:click={toggleNewGame} class="flex items-start gap-2 text-xl font-bold">
            <span>Create New Game</span>
            <img id="new-game-icon" class="w-6 h-6" src="{rightChevron}" alt="">
        </button>
    </div>

    <div id="newGame"
         class="pt-5 border border-primary/50 p-4 rounded-md mt-4 shadow-md grid md:grid-cols-2 items-start gap-10 md:gap-24 hidden">
        <div>
            <form action="">
                <div class="grid grid-cols-3 items-center gap-3 py-2">
                    <label for="gameName"
                           class="block font-bold text-sm text-start leading-6 text-gray-900">Game Name</label>
                    <div class="w-full col-span-2">
                        <input type="text" name="gameName" id="gameName"
                               class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-primary/50 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary outline-none sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div class="grid grid-cols-3 items-start gap-3 py-2">
                    <label for="Description"
                           class="block font-bold text-sm text-start leading-6 text-gray-900">Description</label>
                    <div class="col-span-2 w-full">
                                    <textarea rows="4" name="Description" id="Description"
                                              class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-primary/50 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary outline-none sm:text-sm sm:leading-6"></textarea>
                    </div>
                </div>

                <div class="grid grid-cols-3 items-center gap-3 py-2">
                    <label for="Event"
                           class="block font-bold text-sm text-start leading-6 text-gray-900">Event
                        Name</label>
                    <div class="w-full col-span-2">
                        <input type="text" name="Event" id="Event"
                               class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-primary/50 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary outline-none sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div class="grid grid-cols-3 items-center gap-3 py-2">
                    <label for="Locale"
                           class="block font-bold text-sm text-start leading-6 text-gray-900">Locale</label>
                    <select id="Locale" name="Locale"
                            class="w-full col-span-2 block rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-primary/50 focus:ring-2 focus:ring-primary outline-none sm:text-sm sm:leading-6">
                        <option selected>en-Us</option>

                    </select>
                </div>

                <div class="grid grid-cols-3 items-center gap-3 py-2">
                    <label for="roundlength"
                           class="block font-bold text-sm text-start leading-6 text-gray-900">Round
                        Length</label>
                    <div class="w-full col-span-2">
                        <input type="text" name="roundlength" id="roundlength"
                               class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-primary/50 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary outline-none sm:text-sm sm:leading-6"
                               placeholder="in seconds">
                    </div>
                </div>


                <div class="grid grid-cols-3 items-center gap-3 py-2">
                    <p class="block font-bold text-sm text-start leading-6 text-gray-900">Active</p>
                    <label class="relative col-span-2 inline-flex items-center cursor-pointer">
                        <input type="checkbox" value="" class="sr-only peer" checked>
                        <div
                                class="w-11 h-6 bg-secondary rounded-full peer    peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border after:rounded-full after:h-5 after:w-5 after:transition-all  peer-checked:bg-primary">
                        </div>
                    </label>
                </div>


                <div class="flex items-center gap-10 justify-end mt-6">
                    <button type="submit"
                            class="px-4 py-2 text-base font-normal hover:bg-primary/50 transition-all  border border-primary/50 rounded-md">
                        Create
                    </button>
                    <button type="button"
                            class="px-4 py-2 text-base font-normal hover:bg-accentColor/50 transition-all  border border-accentColor/50  rounded-md">
                        Clear
                    </button>
                </div>

            </form>

        </div>

        <div>
            <div class=" relative border rounded-md border-primary/50 px-2">

                <p class="absolute -top-2.5 bg-[#f6fafa] text-sm px-1 z-10">Game Option</p>

                <div>

                    <div class="grid grid-cols-3 items-center gap-3 p-5">
                        <p
                                class="block font-normal text-base md:text-lg text-start leading-6 text-gray-900">
                            Internet
                        </p>
                        <label class="relative inline-flex items-center cursor-pointer">
                            <input type="checkbox" value="" class="sr-only peer" checked>
                            <div
                                    class="w-11 h-6 bg-secondary rounded-full peer    peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border after:rounded-full after:h-5 after:w-5 after:transition-all  peer-checked:bg-primary">
                            </div>
                        </label>
                        <p
                                class="block font-normal text-base md:text-lg text-start leading-6 text-gray-900">
                            Internet
                            Enabled?</p>
                    </div>
                    <div class="grid grid-cols-3 items-center gap-3 p-5 pt-0">
                        <p
                                class="block font-normal text-base md:text-lg text-start leading-6 text-gray-900">
                            Cloud</p>
                        <label class="relative inline-flex items-center cursor-pointer">
                            <input type="checkbox" value="" class="sr-only peer" checked>
                            <div
                                    class="w-11 h-6 bg-secondary rounded-full peer    peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border after:rounded-full after:h-5 after:w-5 after:transition-all  peer-checked:bg-primary">
                            </div>
                        </label>
                        <p
                                class="block font-normal text-base md:text-lg text-start leading-6 text-gray-900">
                            Cloud
                            Inference?</p>
                    </div>
                    <div class="grid grid-cols-3 items-center gap-3 p-5 pt-0">
                        <p
                                class="block font-normal text-base md:text-lg text-start leading-6 text-gray-900">
                            GPU</p>
                        <label class="relative inline-flex items-center cursor-pointer">
                            <input type="checkbox" value="" class="sr-only peer" checked>
                            <div
                                    class="w-11 h-6 bg-secondary rounded-full peer    peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border after:rounded-full after:h-5 after:w-5 after:transition-all  peer-checked:bg-primary">
                            </div>
                        </label>
                        <p
                                class="block font-normal text-base md:text-lg text-start leading-6 text-gray-900">
                            Use GPU?
                        </p>
                    </div>
                    <div class="grid grid-cols-3 items-center gap-3 p-5 pt-0">
                        <p
                                class="block font-normal text-base md:text-lg text-start leading-6 text-gray-900">
                            Edge TPU
                        </p>
                        <label class="relative inline-flex items-center cursor-pointer">
                            <input type="checkbox" value="" class="sr-only peer" checked>
                            <div
                                    class="w-11 h-6 bg-secondary rounded-full peer    peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border after:rounded-full after:h-5 after:w-5 after:transition-all  peer-checked:bg-primary">
                            </div>
                        </label>
                        <p
                                class="block font-normal text-base md:text-lg text-start leading-6 text-gray-900">
                            Use Edge
                            TPU?
                        </p>
                    </div>

                    <div class="grid grid-cols-3 items-center gap-3 p-5 pt-0">
                        <label for="Dataset"
                               class="block font-normal text-base md:text-lg text-start leading-6 text-gray-900">Dataset</label>
                        <select id="Dataset" name="Dataset"
                                class="w-full col-span-2 block rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-primary outline-none sm:text-sm sm:leading-6">
                            <option selected>Burger Time</option>

                        </select>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>