<!--
NOTE: This is a special one-off page where the layout is embedded (the header/footer)
      This is due to the Ordering and App groupings
-->

<script>
    /*
    1. Look up the most active recent game (hopefully there is one, if not, take the first one)
    2. Setup "activeGame" object for page
     */

    import plus from '$lib/assets/plus.svg';
    import { hotkey } from "svelte-gh-hotkey";
    import GlobalHeader from "$lib/components/GlobalHeader.svelte";
    import GlobalFooter from "$lib/components/GlobalFooter.svelte";
    import {_} from "svelte-i18n";

    export let data;

    let activeGame = data;

</script>

<GlobalHeader bind:activeGame={activeGame}/>

<main class="mb-auto pb-10">

    <div class="container px-6 max-w-6xl mx-auto">
        <div class="main-info flex items-center justify-center py-4 mt-5">
            <div class="text-center">
                <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold">{$_('home.greeting')}</h1>
            </div>
        </div>

        <div class="border bg-[#d8eaeb] border-primary/50 shadow-lg relative rounded-md py-12 my-4">

            <div class="gameStatus absolute -top-[11px] left-2 bg-gradient-to-t from-[#d8eaeb] to-[#f6fafa] px-1">
                <p class="text-sm font-normal">Current Game</p>
            </div>

            <div class="flex flex-col gap-y-8 items-center justify-center">

                <a href="/game/{activeGame.id}" use:hotkey={['p', 'P']} class="p-8">
                    <h1 class="font-press-start text-9xl">{$_('home.game.start')}</h1>
                </a>

                <h1 class="text-3xl md:text-4xl lg:text-5xl font-semibold py-4">{activeGame.name}</h1>
                <p class="text-lg md:text-xl font-semibold">Scores recorded: <span>{activeGame.scoresRecorded}</span>
                </p>
                <p class="font-press-start text-xl md:text-2xl font-semibold">Ready Player One</p>
            </div>
        </div>

        <a href="game/12345" class="flex items-center group/create gap-1 font-semibold">
            Create New Game <img class="w-4 h-4 group-hover/create:translate-x-2 transition-all" src="{plus}" alt="+"/>
        </a>
        <a href="game" class="flex items-center group/create gap-1 font-semibold">
            Select Different Game <img class="w-4 h-4 group-hover/create:translate-x-2 transition-all" src="{plus}"
                                       alt="+"/>
        </a>
    </div>
</main>
<GlobalFooter/>
