<script>
    import VideoStream from "$lib/components/VideoStream.svelte";
    import OrderCard from "$lib/components/OrderCard.svelte";
    import {Button} from "flowbite-svelte";
    import {AccordionItem, Accordion} from 'flowbite-svelte';
    import {identifiedItemsStore} from '$lib/fulfillment.js';
    import {InternetStatus} from "@mike-ensor/common-project-svelte-components";

    export let data;

    let activeOrder = 0;
    let expectedOrderItemCount = data.orders[activeOrder].items.length;

    let hasStarted = true;
    export let videoOptions = {
        locale: 'en-US',
        gameStarted: hasStarted,
        currency: 'USD',
        trayTotal: 0.0,
        trayTotalPrint: "------",
        gameItems: data.gameItems
    }

    let count = 0;
    let showInternetStatus = true;
    $: orderReady = false;

    identifiedItemsStore.subscribe((item) => {
        // Plan, create a Set of the found labels
        // iterate each of the order items and IF that item's label is in the set,
        //    then enable, if not, set to false
        let foundLabels = new Set();

        if (item) {
            // Items may hae more than 1 label?
            item.forEach((i) => {
                foundLabels.add(i.label);
            })
        }

        let matchedItemCount = 0;

        data.orders[activeOrder].items.forEach((orderItem) => {
            orderItem.fulfilled = foundLabels.has(orderItem.label);
            if (orderItem.fulfilled) {
                matchedItemCount++;
            }
        });

        // make the Order Button change to enabled
        orderReady = matchedItemCount === expectedOrderItemCount;

        count++;
    });

</script>

<div class="grid grid-cols-3 gap-5">
    <div class="col-span-2 p-10">
        <div class="text-center">
            <span class="text-5xl">&#x1F32E;&nbsp;Google Tacos&nbsp;&#x1F32E;</span>
        </div>
    </div>
    <div class="col-span-1 mt-2 p-10">
        <InternetStatus enabled={showInternetStatus}/>
    </div>
    <div class="">
        <h2 class="text-2xl p-1 ml-3">Pending Orders</h2>
        <Accordion>
            {#each data.orders as order, index}
                <AccordionItem open="{index===0}">
                    <span slot="header" class="text-base flex">
                      <span>Order #{order.id}</span>
                    </span>
                    {#key count}
                        <OrderCard bind:order={order}/>
                    {/key}
                </AccordionItem>
            {/each}
        </Accordion>
    </div>
    <div class="col-span-2">
        <VideoStream bind:videoOptions={videoOptions}
                     bind:hasStarted={hasStarted}/>
        <div class="pt-5 text-center">
            <!-- Changes the active Order -->
            <div class="grid-cols-3">
                <div class="float-left flex">
                    <Button outline>Previous Order</Button>
                </div>
                <div class="flex float-right">
                    <Button outline="{!orderReady}" disabled={!orderReady}>Complete Order</Button>
                </div>
            </div>
            <!-- TODO: Make this active when all green -->
        </div>
    </div>

</div>