<script context="module">
    /*

    NOTE: This is a GENERIC leaderboard for ALL players, not the player who just completed

    This page will do a lot of things. This is the main game page

    Initialization
    1. Get the Game information /games/game-id passed in via URL
    2. Create a new "player" (get the UUID to create a new round)
    3. Get the Game Items and their pricing information from the Game -> Model -> Model Items. Cache this for later
    4. Init all the parameters (target, timer, video feed)
    5. Start the video feed

    Game Leaderboard Screen
    1. Look up Game Round ID & Leaderboard information (API call)
    2. Query for "is this a top 10"? (configurable for top X)
    3. Present popup IF this is a Leaderboard qualifying game
    4. Sit at the Leaderboard for 30 seconds
    5. Present a "play again" button to restart the Game Start

     */
</script>

<script>
    import first_place from '$lib/assets/1st-place-medal.svg';
    import second_place from '$lib/assets/2nd-place-medal.svg';
    import third_place from '$lib/assets/3rd-place-medal.svg';
    import right_chevron from '$lib/assets/right-chevron.svg';
    import { hotkey } from "svelte-gh-hotkey";
    import Leaderboard from "$lib/components/Leaderboard.svelte";
    import {getCurrencyString} from '$lib/constants';
    import {onDestroy, onMount} from 'svelte';
    import {goto} from "$app/navigation";
    import {page} from '$app/stores';

    export let data;

    const game = data.game;
    const leaderboard = data.gameRounds;

    let pageInterval;
    let staticPageFlag = false;
    let startIndex = 4; // Index starting for the lower section of the leaderboard
    let locale = game.locale;

    // countdown is 10 seconds
    const SECONDS_BEFORE_NEW_GAME = 10;
    let countdown = SECONDS_BEFORE_NEW_GAME;

    const topThree = leaderboard.slice(0, 3);
    let leaderRest = leaderboard.slice(3, leaderboard.length);

    function shouldCountdown() {
        const url = $page.url;

        const staticPage = url.searchParams.get('static');

        if (staticPage !== null) {
            staticPageFlag = true;
            return false;
        } else {
            return true;
        }
    }

    function loopNextPage() {
        if (countdown > 0) {
            countdown--;
            pageInterval = setTimeout(loopNextPage, 1000);
        } else {
            goto(`/game/${game.id}`);
        }
    }

    onMount(() => {
        if (shouldCountdown()) {
            pageInterval = setTimeout(loopNextPage, 1000);
        }
    });

    onDestroy(() => {
        console.log("Clearing Game Counter");
        clearInterval(pageInterval);
    });

</script>
<div class="container px-6 max-w-7xl mx-auto">
    <div class="main-post-game-info w-full pt-4 border-b py-1 border-primary/50">

        <div class="md:grid grid-cols-2  items-center justify-between">
            <div>
                <p class="md:text-xl font-semibold">Google Distributed Cloud</p>
                <h1 class="text-3xl md:text-4xl font-semibold">{game.name}</h1>
            </div>
            <div class="justify-self-end flex gap-5 items-center text-end">
                <div class="w-7 h-7 md:w-14 md:h-14">
                    &nbsp;
                </div>
                <h3 class="text-2xl md:text-3xl font-semibold">&nbsp;</h3>
            </div>
        </div>
    </div>

    <div class="flex items-center flex-col justify-center w-full pt-10 md:pt-24">
        <div class="position relative flex flex-wrap items-center justify-center md:grid md:grid-cols-3 md:items-start gap-3">
            <!-- third place -->
            <div class="bg-[#d8eaeb] rounded-md shadow-lg border border-primary/50 md:mt-24 p-4 px-16 flex items-center flex-col">
                <img class="w-8 h-8 min-h-6 min-w-6" src="{third_place}" alt="">
                <h1 class="text-lg font-semibold">
                    {#if topThree[2] != null }{topThree[2].initials}{:else}TBD{/if}
                </h1>
                <p class="font-semibold">
                    {#if topThree[2] != null }{getCurrencyString(topThree[2].score, locale)}{:else}---{/if}
                </p>
            </div>

            <!-- first Place -->
            <div class="bg-[#d8eaeb] rounded-md shadow-lg border border-primary/50 p-4 px-16 flex items-center flex-col">
                <img class="w-8 h-8 min-h-6 min-w-6" src="{first_place}" alt="">
                <h1 class="text-lg font-semibold">
                    {#if topThree[0] != null }{topThree[0].initials}{:else}TBD{/if}
                </h1>
                <p class="font-semibold">
                    {#if topThree[0] != null }{getCurrencyString(topThree[0].score, locale)}{:else}---{/if}
                </p>
            </div>
            <!-- second place -->
            <div class="bg-[#d8eaeb] rounded-md shadow-lg border border-primary/50 p-4 md:mt-10 px-16 flex items-center flex-col">
                <img class="w-8 h-8 min-h-6 min-w-6" src="{second_place}" alt="">
                <h1 class="text-lg font-semibold">
                    {#if topThree[1] != null }{topThree[1].initials}{:else}TBD{/if}
                </h1>
                <p class="font-semibold">
                    {#if topThree[1] != null }{getCurrencyString(topThree[1].score, locale)}{:else}---{/if}
                </p>
            </div>
        </div>

        <div class="w-full">
            <div class="mt-8 flow-root">
                <div class="-mx-4 -my-2  sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">
                    <div class="inline-block min-w-full h-96 rounded-md shadow-lg border border-primary/50 overflow-y-auto w-full align-middle ">
                        <!-- Feed the leaderboard the remaining -->
                        <Leaderboard bind:leaderboardData={leaderRest} bind:startIndex={startIndex}
                                     bind:locale={locale}/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center flex items-center justify-center py-5">
        <button class="flex items-center gap-2 text-xl group/starGame md:text-2xl lg:text-3xl font-semibold">
            <a href="/game/{game.id}" use:hotkey={'p'} class="underline underline-offset-4">Start Next Round</a>
            <img class="w-7 h-7 group-hover/starGame:translate-x-2 transition-all" src="{right_chevron}" alt="">
            {#if staticPageFlag === false }
                (redirect in {countdown} seconds)
            {/if}
        </button>
    </div>
</div>