<script>
    import {appEnvs} from "$lib/appEnvs.js";
    import {
        Accordion, AccordionItem,
        Button,
        Input,
        Kbd,
        Label,
        Modal,
        Table,
        TableBody,
        TableBodyCell,
        TableBodyRow,
        Toggle
    } from 'flowbite-svelte';
    import {onMount} from "svelte";
    import {FireOutline} from "flowbite-svelte-icons";
    import {getRTSPUrl, setRTSPUrl, streamStatus, toggleStream} from "$lib/streams.js";
    import {defaultGameServerData, gameAPIHealth, gameServerMetadata} from "$lib/game-server.js";

    const inferenceServerMetadata = async () => {
        const url = `http://${appEnvs.INFERENCE_HOST}:${appEnvs.INFERENCE_PORT}/metadata`;
        const res = await fetch(url);
        return await res.json();
    }

    const getActiveGame = async () => {
        const url = `http://${appEnvs.GAME_API_HOST}:${appEnvs.GAME_API_PORT}/games`;
        const res_games = await fetch(url);
        const games = await res_games.json();

        let activeGame = null;

        games.forEach((game) => {
            if (game.active) {
                activeGame = game.id;
            }
        });

        return activeGame;
    }

    $: toggleState = false;
    $: inferenceMetadata = {};
    $: gameAPIHealthOutput = "NotReady";
    $: gameServerData = defaultGameServerData;
    $: streamStatusOutput = 'Stopped';
    $: currentRtspURL = '';
    $: currentActiveGame = null;
    $: modelLables = [];

    onMount(() => {
        // Set the initial toggle based on the stream state
        streamStatus().then((response) => {
            toggleState = response.state;
            streamStatusOutput = response.state;
        });

        inferenceServerMetadata().then((response) => {
            inferenceMetadata = response;
            modelLables = inferenceMetadata.labels;
        });

        gameAPIHealth().then((response) => {
            gameAPIHealthOutput = "Ok";
        });

        getActiveGame().then((game) => {
            currentActiveGame = game;
        });

        gameServerMetadata().then((gameData) => {
            gameServerData = gameData;
        });

        getRTSPUrl().then((response) => {
            currentRtspURL = response.currentRTSPFeedURL;
        })

    });

    function removeGameRounds() {

        console.log("Removing all game rounds");

        if (currentActiveGame) {
            const url = `http://${appEnvs.GAME_API_HOST}:${appEnvs.GAME_API_PORT}/games/${currentActiveGame}/rounds`;
            const res = fetch(url, {
                method: "DELETE",
            });
            res.then(_ => {
                console.log("Remove succeeded");
            });
        }
    }

    $: deleteScoresModal = false;

    function removeScoresHandler() {
        // enable/display the modal dialog
        deleteScoresModal = true;
    }

    function closeModal() {
        deleteScoresModal = false;
    }

</script>


<Modal title="Are you sure?" size="xs" bind:open={deleteScoresModal} autoclose outsideclose>
    <Label class="space-y-2">
		<span>This is a destructive operation and cannot be undone. Are you sure you want to
		remove the scores of the current game?</span>
    </Label>
    <div class="grid grid-cols-2 space-x-12 m-6 p-6">
        <div class="grid place-content-end col-span-1">
            <Button outline on:click={closeModal}>Cancel</Button>
        </div>
        <div class="grid place-content-start col-span-1">
            <Button type="submit" on:click={removeGameRounds}>Confirm</Button>
        </div>
    </div>
</Modal>


<div class="container px-6 max-w-7xl mx-auto">
    <div class="main-post-game-info w-full pt-4 py-1 border-b border-primary/50">
        <div class="md:grid grid-cols-2 items-center justify-between">
            <div>
                <p class="md:text-xl font-semibold">Google Distributed Cloud</p>
                <h1 class="text-3xl md:text-4xl font-semibold">Admin Menu</h1>
            </div>
        </div>
    </div>

    <div class="w-full">
        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2  sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">
                <h2 class="text-xl md:text-2xl p-2 font-semibold">RTSP Stream</h2>
                <Table striped={true} hoverable={true}>
                    <TableBody tableBodyClass="divide-y">
                        <TableBodyRow>
                            <TableBodyCell>
                                <Label for="rtspNewUrl" class="mb-2"><strong>RTSP URL</strong></Label>
                                <Input type="text" id="rtspNewUrl" value="{currentRtspURL}"/>
                            </TableBodyCell>
                            <TableBodyCell>
                                <Button on:click={setRTSPUrl}>Queue RTSP Change</Button>
                            </TableBodyCell>
                        </TableBodyRow>
                        <TableBodyRow>
                            <TableBodyCell>
                                <Toggle id="rtspId" size="default" on:click={toggleStream(toggleState)}
                                        checked={toggleState}>Stream Status
                                </Toggle>
                            </TableBodyCell>
                            <TableBodyCell>{streamStatusOutput}</TableBodyCell>
                        </TableBodyRow>

                    </TableBody>
                </Table>
            </div>
        </div>
        <div class="mt-10 flow-root">
            <hr class="m-2"/>
            <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">
                <h2 class="text-xl md:text-2xl p-2 font-semibold">Game API</h2>

                <Table striped={true} hoverable={true}>
                    <TableBody tableBodyClass="divide-y">
                        <TableBodyRow>
                            <TableBodyCell>
                                <strong>API Status</strong>
                            </TableBodyCell>
                            <TableBodyCell>
                                <span class="text-2xl text-green-500">{gameAPIHealthOutput}</span>
                            </TableBodyCell>
                        </TableBodyRow>
                        <TableBodyRow>
                            <TableBodyCell>
                                <strong>Game API Version</strong>
                            </TableBodyCell>
                            <TableBodyCell>
                                <span class="text-2xl text-green-500">{gameServerData.app_version}</span>
                            </TableBodyCell>
                        </TableBodyRow>
                        <TableBodyRow>
                            <TableBodyCell>
                                <strong>Game API DB Migrations</strong>
                            </TableBodyCell>
                            <TableBodyCell>
                                <Accordion flush>
                                    <AccordionItem>
                                        <span slot="header">Migrations</span>
                                        <ol>
                                            {#each gameServerData.migrations as migration}
                                                <li><strong>Version</strong>: {migration.version} on {migration.run_on}</li>
                                            {/each}
                                        </ol>
                                    </AccordionItem>
                                </Accordion>
                            </TableBodyCell>
                        </TableBodyRow>
                        <TableBodyRow>
                            <TableBodyCell>
                                <strong>Active Game ID</strong>
                            </TableBodyCell>
                            <TableBodyCell>
                                <span class="text-2xl text-green-500">{currentActiveGame}</span>
                            </TableBodyCell>
                        </TableBodyRow>
                        <TableBodyRow>
                            <TableBodyCell>
                                <strong>Reset Game Scores</strong>
                            </TableBodyCell>
                            <TableBodyCell>
                                <Button on:click={removeScoresHandler}>
                                    <FireOutline class="w-5 h-5 mr-2"/>
                                    Remove <strong class="ml-1 mr-1">ALL</strong> game scores
                                    <FireOutline class="w-5 h-5 ml-2"/>
                                </Button>
                            </TableBodyCell>
                        </TableBodyRow>
                    </TableBody>
                </Table>
            </div>
        </div>
        <div class="mt-10 flow-root">
            <hr class="m-2"/>
            <div class="-mx-4 -my-2  sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">
                <h2 class="text-xl md:text-2xl p-2 font-semibold">Inference Server</h2>
                <Table striped={true} hoverable={true}>
                    <TableBody>
                        <TableBodyRow>
                            <TableBodyCell><strong>Model Name</strong></TableBodyCell>
                            <TableBodyCell>{inferenceMetadata.public_name}</TableBodyCell>
                        </TableBodyRow>
                        <TableBodyRow>
                            <TableBodyCell><strong>Model Version</strong></TableBodyCell>
                            <TableBodyCell>{inferenceMetadata.model_version}</TableBodyCell>
                        </TableBodyRow>
                        <TableBodyRow>
                            <TableBodyCell><strong>Model Type</strong></TableBodyCell>
                            <TableBodyCell>{inferenceMetadata.model_type}</TableBodyCell>
                        </TableBodyRow>
                        <TableBodyRow>
                            <TableBodyCell><strong>Inference FPS</strong></TableBodyCell>
                            <TableBodyCell>{appEnvs.INFERENCE_FPS} fps = {1000/appEnvs.INFERENCE_FPS} ms interval</TableBodyCell>
                        </TableBodyRow>
                        <TableBodyRow>
                            <TableBodyCell><strong>Confidence Interval</strong></TableBodyCell>
                            <TableBodyCell>{inferenceMetadata.model_confidence}</TableBodyCell>
                        </TableBodyRow>
                        <TableBodyRow>
                            <TableBodyCell><strong>Tensor Input Height x Width</strong></TableBodyCell>
                            <TableBodyCell>{inferenceMetadata.image_height}
                                x {inferenceMetadata.image_width}</TableBodyCell>
                        </TableBodyRow>
                        <TableBodyRow>
                            <TableBodyCell><strong>Labels</strong></TableBodyCell>
                            <TableBodyCell>
                                <div class="flex flex-wrap">
                                    {#each modelLables as label }
                                        <Kbd class="px-2 py-1.5 m-1">{label}</Kbd>
                                    {/each}
                                </div>
                            </TableBodyCell>
                        </TableBodyRow>
                    </TableBody>
                </Table>
            </div>
        </div>
    </div>
</div>