@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "eight-bit";
        src: url('/8Bit.otf') format('opentype');
    }

    @font-face {
        font-family: "potta-one";
        src: url('/PottaOne-Regular.otf') format('opentype');
    }

    @font-face {
        font-family: "press-start";
        src: url('/PressStart2P-Regular.otf') format('opentype');
    }

    .gameItemName {
        font-size: 1.3em;
    }

    .gameItemList {
        padding-bottom: 1.1em;
    }
}