<script>
    import {getCurrencyString} from '$lib/constants';

    export let leaderboardData;
    export let locale;

    export let startIndex = 1;
</script>

<table class="min-w-full divide-y  divide-gray-300">
    <thead class="bg-[#e4edea] z-10">
    <tr>
        <th scope="col"
            class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">
            Position
        </th>
        <th scope="col"
            class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
            Initials
        </th>
        <th scope="col"
            class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
            Score
        </th>
    </tr>
    </thead>
    <tbody class="bg-white">
    {#each leaderboardData as {score, initials}, i}
        <tr class="even:bg-[#f3f7f3]">
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3">
                {i+startIndex}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 font-medium">
                {initials}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 font-medium">
                {getCurrencyString(score, locale)}
            </td>
        </tr>
    {/each}
    </tbody>
</table>