<script>
    import {Card, Li, List} from 'flowbite-svelte';
    import {CheckCircleSolid, CloseCircleSolid} from 'flowbite-svelte-icons';

    export let order;

</script>

<div class="">
    <Card>
        <List tag="ul" class="space-y-1 text-gray-500 dark:text-gray-400" list="none">
            {#each order.items as item}
                <Li icon>
                    {#if item.fulfilled === true}
                        <CheckCircleSolid class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400"/>
                    {:else}
                        <CloseCircleSolid class="w-3.5 h-3.5 me-2 text-gray-500 dark:text-gray-400"/>
                    {/if}
                    {item.name} ({item.quantity})
                </Li>
            {/each}
        </List>
    </Card>
</div>