<script>
    import cross from "$lib/assets/cross.svg";
    import {appEnvs} from "$lib/appEnvs.js";
    import { onMount } from 'svelte'

    let initialsInput;

    // used to get score from page
    export let prettyScore = "$0.00";

    export let gameRoundId;

    export let finalScore;

    function setInitials(gameRoundId, userScore, userInitials) {
        const gameScoreData = {
            game_round_id: gameRoundId,
            score: userScore,
            initials: userInitials
        }
        const url = `http://${appEnvs.GAME_API_HOST}:${appEnvs.GAME_API_PORT}/game-rounds/score`;
        const body = JSON.stringify(gameScoreData);

        return fetch(url, {
            method: 'PUT',
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            body: body
        });
    }

    function registerInitials() {
        // 1. check values, make sure it is able
        const inputObject = document.getElementById("initials");
        if (!inputObject) {
            return; // no object on page
        } else if (inputObject.value === "") {
            // No input
            return;
        }
        let initials = inputObject.value;
        // 2. Call/add/update score with initials
        let resultPromise = setInitials(gameRoundId, finalScore, initials);
        // 3. Update the Leaderboard or the varaible "initials"
        // 4. and upon completion, close dialog
        resultPromise.then((gameRoundObj) => {
            toggle(); // turn off
        });
    }

    export function toggle() {
        const dialog = document.getElementById("high-score-dialog");
        dialog.classList.toggle("hidden");
        const initialsFormField = document.getElementById("initials");
        initialsFormField.focus()
    }

    onMount(() => {
        const initialsFormField = document.getElementById("initials");
        initialsFormField.focus()
    })

</script>
<div class="relative z-10 hidden " id="high-score-dialog" aria-labelledby="high-score-title" role="dialog"
     aria-modal="true" aria-hidden="false">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <form action="">
        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
            <div class="flex min-h-full justify-center p-4 text-center items-center sm:p-0">

                <div class="relative transform overflow-hidden rounded-lg bg-[#d8eaeb] border border-primary/50 px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-md sm:p-6">

                    <div class="absolute top-2 right-2">
                        <button type="button" class="w-6 h-6" on:click={toggle}
                                data-modal-target="high-score-dialog" data-modal-hide="high-score-dialog">
                            <img class="w-full h-full" src="{cross}" alt="X">
                        </button>
                    </div>

                    <div class="mt-3">
                        <h1 class="text-2xl md:text-4xl font-bold text-center">{prettyScore}</h1>
                        <h1 class="text-xl md:text-2xl font-semibold text-center py-4">Register High Score!!</h1>
                    </div>

                    <div class="grid grid-cols-3 items-center gap-3 py-2">
                        <label for="initials"
                               class="block font-bold text-sm text-start leading-6 text-gray-900">Initials</label>
                        <div class="w-full col-span-2">
                            <input type="text" name="initials" id="initials" bind:this={initialsInput}
                                   class="px-2 block w-full rounded-md border-0 py-1.5 bg-primary/10 text-gray-900 shadow-sm ring-1 ring-inset ring-primary/50 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary outline-none sm:text-sm sm:leading-6"
                                   required>
                        </div>
                    </div>

                    <div class="flex items-center justify-around mt-6">
                        <button type="submit" on:click={registerInitials}
                                class="px-4 py-2 text-base font-normal border transition-all border-primary/50 hover:bg-primary/50 rounded-md">
                            Create
                        </button>
                        <button type="button" on:click={toggle}
                                class="px-4 py-2 text-base font-normal border transition-all border-primary/50 hover:bg-accentColor/50  rounded-md">
                            Cancel
                        </button>
                    </div>
                    <p class="pt-6 text-center text-gray-400">High Score!!</p>
                </div>
            </div>
        </div>
    </form>
</div>