<svelte:options accessors/>
<script>
    /*
        This is the VideoStream hosting the RTSP on the page.

        Several trials have been put together to try and figure out streaming and frame capture

        Requirements:
        1. Stream from http://<host>:<port>/stream URL
        2. Need to capture a frame when desired
          * Frame needs to be able to be sent to Inference server
        3. Need to be able to draw rectangles representing bounding boxes and labels on or over the stream

        ## This has been tough to figure out given the above constraints. Determined that just the Canvas seems to be
        ## too difficult to get the frame from the background-image.

        # Using ReadableStream (testing)
        https://github.com/aruntj/mjpeg-readable-stream/blob/master/index.html

        # Using MediaStream
        https://img.ly/blog/how-to-stream-videos-using-javascript-and-html5/
          * Blob seems to be an issue, how to do this?
          * Maybe keep the stream the same, but use: https://developer.mozilla.org/en-US/docs/Web/API/CanvasCaptureMediaStreamTrack/requestFrame

        # Using an Image and a canvas overlay (fallback option)

     */

    import {appEnvs} from "$lib/appEnvs.js";
    import {onDestroy, onMount} from "svelte";
    import {updateItems} from '$lib/fulfillment.js';
    import { hotkey } from "svelte-gh-hotkey";
    import {getCurrencyString} from '$lib/constants.js';
    import downChevron from '$lib/assets/down-chevron.svg';
    import rightChevron from '$lib/assets/right-chevron.svg';
    import {Kbd} from "flowbite-svelte";

    // Data coming in from the parent page
    export let videoOptions = {
        locale: "en-US",
        gameStarted: false,
        currency: 'USD', // 'EUR'
        trayTotal: 0.0,
        trayTotalPrint: printScore(),
        gameItems: []
    };

    export let hasStarted = false;

    const host = appEnvs.INFERENCE_HOST;
    const port = appEnvs.INFERENCE_PORT;
    const inferenceServerURL = "http://" + host + ":" + port + "/inference?resize=True";

    const rtspHost = appEnvs.RTSP_HOST;
    const rtspPort = appEnvs.RTSP_PORT;
    const rtspStreamURL = "http://" + rtspHost + ":" + rtspPort + "/stream"

    const colors = [
        {"fg": "#FF69B4", "bg": "#000000"}, // Hot pink
        {"fg": "#FFC0CB", "bg": "#000000"}, // Light pink
        {"fg": "#7CFC00", "bg": "#000000"}, // Lime green
        {"fg": "#32CD32", "bg": "#000000"}, // Dark green
        {"fg": "#C71585", "bg": "#000000"}, // Deep pink
        {"fg": "#FFFF00", "bg": "#000000"}, // Yellow
        {"fg": "#00FFFF", "bg": "#000000"}, // Cyan
        {"fg": "#A020F0", "bg": "#000000"}, // Deep purple
        {"fg": "#40E0D0", "bg": "#000000"}, // Turquoise
        {"fg": "#F08080", "bg": "#000000"}, // Light coral
        {"fg": "#800080", "bg": "#000000"}, // Purple
        {"fg": "#FFA500", "bg": "#000000"}, // Orange
        {"fg": "#0000FF", "bg": "#000000"}, // Blue
        {"fg": "#8B4513", "bg": "#000000"}, // Saddle brown
        {"fg": "#AA87FF", "bg": "#000000"}, // Lavender
        {"fg": "#DAA520", "bg": "#000000"}, // Goldenrod
        {"fg": "#BA55D3", "bg": "#000000"}, // Medium orchid
        {"fg": "#CD5B45", "bg": "#000000"}, // Maroon
        {"fg": "#FFA07A", "bg": "#000000"}, // Light salmon
        {"fg": "#90EE90", "bg": "#000000"}, // Light green
        {"fg": "#FFD700", "bg": "#000000"}, // Gold
        {"fg": "#B0E0E6", "bg": "#000000"}, // Powder blue
        {"fg": "#2E8B57", "bg": "#000000"}, // Sea green
        {"fg": "#FF4500", "bg": "#000000"}, // Orange red
        {"fg": "#ADFF2F", "bg": "#000000"}, // Green yellow
        {"fg": "#F0E68C", "bg": "#000000"}, // Khaki
        {"fg": "#E6E6FA", "bg": "#000000"}, // Lavender blush
        {"fg": "#00FA9A", "bg": "#000000"}, // Medium spring green
        {"fg": "#D2691E", "bg": "#000000"}, // Chocolate
        {"fg": "#B22222", "bg": "#000000"}  // Firebrick
    ];

    // Holds the interval for updating the canvas
    let imageUpdateInterval;
    // Holds the interval for extracting a frame and sending to inference server
    let inferenceInterval;
    // interval for the loop of get FPS
    let fpsInterval;

    // display the FPS
    let fps = 0.0;
    // is the feed functional
    let feedStatus = false;

    export function extractFrame() {
        const canvas = document.getElementById("canvas");
        if (!canvas) {
            return false;
        }

        return canvas.toDataURL("image/png").replace("data:image/png;base64,", "");
    }

    const getStreamStats = async () => {
        const url = `http://${appEnvs.RTSP_HOST}:${appEnvs.RTSP_PORT}/status`;
        const res = await fetch(url);

        return await res.json();
    }

    function setupVideoStream() {
        const canvas = document.getElementById("canvas");
        if (!canvas) {
            // Likely the page has unloaded, but there are still intervals for display
            return;
        }
        const width = canvas.width;
        const height = canvas.height;
        const ctx = canvas.getContext("2d");

        const mjpegStreamImage = new Image();
        mjpegStreamImage.crossOrigin = "anonymous";
        mjpegStreamImage.src = rtspStreamURL;

        mjpegStreamImage.addEventListener("load", () => {
            ctx.drawImage(mjpegStreamImage, 0, 0, width, height);
        });
    }

    function setFPS() {
        const status = getStreamStats();
        status.then((value) => {
            feedStatus = value.state;
            if (value.state) {
                fps = value.currentfps.toFixed(1);
            } else {
                fps = 0.0;
            }
        });
    }

    function drawBorder(context, label, color, xPos, yPos, width, height, thickness = 1) {
        context.strokeStyle = color.fg;
        context.lineWidth = thickness;
        context.strokeRect(xPos, yPos, width, height);

        context.fillStyle = color.fg;
        context.globalAlpha = 0.3;
        context.fillRect(xPos - (thickness), yPos - (thickness), width + (thickness * 2), height + (thickness * 2));

        context.globalAlpha = 1.0;
        context.fillStyle = color.fg;      // Color of the label text
        const labelWidth = label.length * 12;
        context.fillRect(xPos - thickness + 2, yPos - 24, (labelWidth < width ? labelWidth : width), 24);

        context.font = "16px Arial";      // Font style
        context.fillStyle = color.bg;

        context.fillText(label, xPos + 5, yPos - 5);
    }

    function drawBoundingBoxes(items) {
        if (items) {
            const canvas = document.getElementById("canvas-overlay");

            const ctx = canvas.getContext("2d");
            const canvas_width = canvas.width;

            const canvas_height = canvas.height;

            const gameItems = videoOptions.gameItems;

            ctx.clearRect(0, 0, canvas_width, canvas_height);

            for (let i = 0; i < items.length; i++) {
                // Oh, cannot be the ID....needs to be where it exists in the array
                let color = colors[gameItems.get(items[i].label).color_index];

                const topX = items[i].min_x;
                const topY = items[i].min_y;

                const width = items[i].max_x - topX;
                const height = items[i].max_y - topY;

                drawBorder(ctx, items[i].label, color, topX, topY, width, height, 5);
            }
        }
    }

    function setTrayPrice(items) {
        let currentTrayPrice = 0;
        const gameItems = videoOptions.gameItems;

        for (let i = 0; i < items.length; i++) {
            // Look up the item in the gameItems map by label (key), then pick the "lower" price
            const label = items[i].label;
            const item = gameItems.get(label);
            if (item) {
                currentTrayPrice = currentTrayPrice + item.lower;
            } else {
                console.log("Model is returning label '" + label + "' that was not found in the GameItems");
            }
        }
        return currentTrayPrice;
    }

    function toggleNerdStats() {
        const nerdStatContainer = document.getElementById("nerdStatsContainer");

        const nerdStatIconIndicator = document.getElementById("nerd-stats-icon");
        const current = nerdStatContainer.style.display;
        if (current === 'none' || current === "") {
            nerdStatContainer.style.display = 'block';
            nerdStatIconIndicator.src = downChevron;
        } else {
            nerdStatContainer.style.display = 'none';
            nerdStatIconIndicator.src = rightChevron;
        }

    }

    function printScore() {
        let toPrice = "0.00";
        if (videoOptions.trayTotal) {
            toPrice = videoOptions.trayTotal;
        }

        return getCurrencyString(toPrice, videoOptions.locale);
    }

    async function runInference() {
        // If the round hasn't started, don't start inferencing
        if (!hasStarted) {
            return;
        }

        const imageData = extractFrame()

        if (!imageData) {
            console.log("Failure to extract frame from feeed");
        } else {
            try {
                const payload = {'image': imageData};

                const inf_result = await fetch(inferenceServerURL, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(payload),
                });

                const result = await inf_result.json();
                if (result) {
                    const items = result.detected_items;
                    updateItems(items);
                    // Draw bounding boxes
                    drawBoundingBoxes(items);
                    // Get the tray price
                    videoOptions.trayTotal = setTrayPrice(items);
                    videoOptions.trayTotalPrint = printScore();
                }
            } catch (error) {
                if (error.name === 'TypeError') {
                    console.error('Inference failed:', error);
                } else {
                    console.error('Error inference data:', error);
                }
            }
        } // end If ImageData exists
    }

    onMount(() => {
        imageUpdateInterval = setInterval(setupVideoStream, 40); // how frequently video is updated
        inferenceInterval = setInterval(runInference, appEnvs.INFERENCE_FPS / 1000); // FPS to interval between frames
        fpsInterval = setInterval(setFPS, 400); // once a second (update the fps variable)
    });

    onDestroy(() => {
        clearInterval(imageUpdateInterval);
        clearInterval(inferenceInterval);
        clearInterval(fpsInterval);
    });

</script>
<style>
    .overlay-image {
        z-index: 100; /* Ensure overlay is on top */
    }

    .image-container {
        position: relative;
        border: 1px #ffcc00;
    }

    #canvas-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<div class="image-container">
    <!-- TODO: Find a way to not be hardcoded-->
    <canvas id="canvas" width="1280" height="720" class="w-full h-full"></canvas>
    <canvas id="canvas-overlay" width="1280" height="720" class="overlay-image"></canvas>
</div>
<div class="text-start flex items-start border-b border-primary/50 pb-0">
    <button on:click={toggleNerdStats} use:hotkey={'n'} class="flex items-start gap-2 text-s font-bold">Show Nerd Stats</button>
    <img id="nerd-stats-icon" class="w-6 h-6" src="{rightChevron}" alt=">>">
</div>
<div id="nerdStatsContainer"
     class="pt-5 border border-primary/50 p-4 rounded-md mt-4 shadow-md grid md:grid-cols-2 items-start gap-10 md:gap-24 hidden">
    <div>
        <Kbd class="px-2 py-1.5 m-1" id="fps">FPS: {fps}</Kbd>
        <Kbd class="px-2 py-1.5 m-1">Stream Status: {feedStatus}</Kbd>
        <Kbd class="px-2 py-1.5 m-1">Inference FPS: {appEnvs.INFERENCE_FPS}</Kbd>
    </div>
</div>
