<script context="module">
    /*

    NOTE: This is the page for a player who just finished a round

    This page will do a lot of things. This is the main game page

    Initialization
    1. Get the current leaderboard (REST call)
    2. Get the current player round (REST call)
    3. Determine if this is a "top 10" (future configurable on "10")

    Game Leaderboard Screen
    1. Look up Game Round ID & Leaderboard information (API call)
    2. Query for "is this a top 10"? (configurable for top X)
    3. Present popup IF this is a Leaderboard qualifying game
    4. Sit at the Leaderboard for 30 seconds
    5. Present a "play again" button to restart the Game Start

     */
</script>

<script>
    import secondPlaceMedal from '$lib/assets/second-place-medal.svg';
    import rightChevron from '$lib/assets/right-chevron.svg';
    import Leaderboard from "$lib/components/Leaderboard.svelte";
    import RegisterHighScore from "$lib/components/RegisterHighScore.svelte";
    import { hotkey } from "svelte-gh-hotkey";
    import {onDestroy, onMount} from 'svelte';
    import {goto} from "$app/navigation";
    import {getCurrencyString} from '$lib/constants';
    import {ordinal} from "$lib/constants.js";
    import {browser} from "$app/environment";

    export let data;
    let registerDialog;

    // interval for the page redirect
    let pageInterval;
    const SECONDS_BEFORE_LEADERBOARD = 15;
    let countdown = SECONDS_BEFORE_LEADERBOARD;
    let outputTimer = "0:" + countdown;

    const game = data.game;
    const gameLocale = game.locale;
    const round = data.round;
    let leaderboardData = data.leaderboard;

    // Initials Dialog
    let finalScore = round.score;
    let localGameRoundId = data.roundId;

    // Setup for later doing something like updating after page load
    $: imageData = "data:image/png;base64," + data.storedImage.imageData; // FIXME: This is strange, the URL is not valid, it has the base64 prefix already, but without this, it fails

    // determine the place (1, 2, 3 other)
    const roundPlace = data.roundPlace;

    const targetPrettyPrint = getCurrencyString(round.target, gameLocale);
    let scorePrettyPrint = getCurrencyString(round.score, gameLocale);

    function isTopThree() {
        return roundPlace < 3;
    }

    function isTopScore() {
        return roundPlace < 10; // TODO: Make this configurable
    }

    function restartNextGame() {
        const url = `/game/${game.id}`;
        goto(url);
    }

    function goToLeaderboard() {
        if(countdown > 0) {
            countdown--;
            const timeAsString = countdown + "";
            outputTimer = "0:" + timeAsString.padStart(2, '0');
            pageInterval = setTimeout(goToLeaderboard, 1000);
        } else {
            goto(`/game/${game.id}/leaderboard`);
        }
        return countdown
    }

    onMount(() => {
        if (isTopScore()) {
            registerDialog.toggle();
            countdown += 15; // give extra 15 seconds if putting in initials
        }

        pageInterval = setTimeout(goToLeaderboard, 1000);
    });

    onDestroy(() => {
        // Remove the localStore
        if (browser && localStorage) {
            let storageKey = `round_${data.roundId}`;
            localStorage.removeItem(storageKey);
        }

        console.log("Clearing Page Interval");
        clearInterval(pageInterval);
    });

</script>
<div class="container px-6 max-w-7xl mx-auto">
    <div class="main-post-game-info w-full pt-4 border-b py-1 border-primary/50">

        <div class="md:grid grid-cols-2  items-center justify-between">
            <div>
                <p class="md:text-xl font-semibold">Google Distributed Cloud</p>
                <h1 class="text-3xl md:text-4xl font-semibold">{game.name}</h1>
            </div>
            <div class="justify-self-end flex gap-5 items-center text-end">
                {#if isTopThree()}
                    <div class="w-7 h-7 md:w-14 md:h-14">
                        <img class="w-full h-full" src="{secondPlaceMedal}" alt="{ordinal(roundPlace)} Medal">
                    </div>
                {:else }
                    <div class="w-7 h-7 md:w-14 md:h-14">
                        &nbsp;
                    </div>
                {/if}
                <h3 class=" text-2xl md:text-3xl font-semibold">{ordinal(roundPlace)} Place!!!</h3>
            </div>
        </div>
    </div>

    <div class="grid md:grid-cols-2 gap:5 md:gap-24 lg:gap-32 py-4 mt-5">
        <div>
            <h1 class="text-xl md:text-3xl font-semibold">Your Round</h1>
            <div class="flex items-center justify-between border-b py-1 border-primary/50">
                <p class="md:text-2xl font-semibold">Target: {targetPrettyPrint}</p>
                <p class="md:text-2xl  font-semibold">Score: {scorePrettyPrint}</p>
            </div>

            <div id="finalImageContainer"
                 class="my-4 w-full h-96 border overflow-hidden rounded-md shadow-lg border-primary/50">
                <!--{round.gameFinalImage}-->
                <img id="finalGameImage" alt="Game Round Final" class="w-full h-full object-cover"
                     src="{imageData}"/>
            </div>

        </div>

        <div class="w-full max-md:mt-5 ">
            <h1 class="text-xl md:text-3xl font-semibold">Leaderboard</h1>
            <div class="mt-8 flow-root">
                <div class="-mx-4 -my-2  sm:-mx-6 lg:-mx-8 sm:px-6 lg:px-8">
                    <div class="inline-block min-w-full h-96 shadow-lg border border-primary/50 rounded-md overflow-y-auto w-full align-middle ">
                        <Leaderboard bind:leaderboardData={leaderboardData} locale="{game.locale}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center flex items-center justify-center py-5">
        <button class="flex items-center gap-2 text-xl group/starGame md:text-2xl lg:text-3xl font-semibold"
                on:click={restartNextGame} use:hotkey={'p'}>
            <span class="underline underline-offset-4">Start Next Round</span>
            <img class="w-7 h-7 group-hover/starGame:translate-x-2 transition-all" src="{rightChevron}" alt=">>">
            (auto redirect in {outputTimer} seconds)
        </button>
    </div>

    <RegisterHighScore bind:this={registerDialog} bind:prettyScore={scorePrettyPrint} bind:finalScore={finalScore} bind:gameRoundId={localGameRoundId}/>
</div>